@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&family=Nanum+Gothic&family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}

/* Navigation */
.sticky-top{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.navbar-brand{
    font-size: 1.6rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    color: #fc5b49dc;
    padding: 0;
}
.navbar-brand:hover{
    color: #FC5B49;
}
.active{
    color: #FC5B49 !important;
}
.nav-link{
    color: #4e4e4e;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    transition: all linear 0.3s;
}
.nav-link:hover{
    color: #FC5B49;
    transition: all linear 0.3s;
}

/* Banner */
#banner{
    background-image: url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner_txt{
    padding: 230px 0 160px 0;
    text-align: center;
}
.banner_txt h1{
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    margin-bottom: 16px;
}
.banner_txt h4{
    color: #e3e3e3;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}
.banner_txt a {
    color: white;
    padding: 9px 27px;
    border: 1px solid white;
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    display: inline-block;
    transition: all linear 0.3s;
}
.banner_txt a:hover{
    background-color: #FC5B49;
    border: 1px solid #FC5B49;
    transition: all linear 0.3s;
}

/* Features */
.features_content{
    margin-top: 4rem;
    text-align: center;
}
.features_icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.features_icon p{
    font-size: 30px;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.features_icon.first-icon p{
    background-color: #4285F4;
}
.features_icon.second-icon p{
    background-color: #DB4437;
}
.features_icon.third-icon p{
    background-color: #F4B400;
}
.features_icon.fourth-icon p{
    background-color: #0F9D58;
}
.features_text h5{
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}

/* Projects */
.demo_head h2{
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    margin: 60px 0 25px 0;
}
.demo_img img{
    height: 250px;
}
.demo_img_content h4{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    margin-top: 25px;
    color: white;
}
.demo_img_content p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
    margin-bottom: 60px;
}
.demo_img{
    position: relative;
}
.work_overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all linear 0.3s;
}
.work_overlay h5,
.work_overlay p{
    color: white;
}
.demo_img:hover .work_overlay{
    transform: scale(1);
    transition: all linear 0.3s;
}

/* Others */
body{
    background-color: #180C1A;
}
footer{
    color: white;
    background-color: #180C1A;
}
footer .welcome{
    font-size: 3rem;
    font-family: 'PT Serif', serif;
    margin: 2rem 0 2.5rem 0;
}
.footer-links{
    margin: 60px 0 40px 0;
    font-family: 'Ubuntu', sans-serif;
}
.footer_list ul{
    padding: 0;
}
.footer_list ul li{
    list-style-type: none;
}
.footer_list ul li a{
    color: white;
    font-size: 16px;
}
.about-dev h5{
    font-family: 'Roboto Condensed', sans-serif;
}
.footer-content small{
    font-family: 'Chivo Mono', monospace;
}

/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */
@media (min-width: 320px) and (max-width: 575px){
    .nav-link {
        font-size: 15px;
        padding: 4px 0;
    }
    .active{
        padding-top: 12px;
    }
    /* Banner */
    .banner_txt {
        padding: 150px 0 3.5rem 0;
        text-align: left;
    }
    .banner_txt h4{
        font-size: 1rem;
    }
    .banner_txt a {
        font-size: 12px;
        padding: 9px 13px;
        background-color: #FC5B49;
        border: #FC5B49;
    }
    .banner_txt a:hover{
        font-size: 12px;
        padding: 9px 13px;
        background-color: #3f8dbf;
        border: #3f8dbf;
    }
    .features_text p {
        margin-bottom: 0;
    }
    .demo_img img{
        height: 225px;
    }
    footer .welcome {
        font-size: 30px;
        margin: 1.5rem 0 2rem 0;
    }
    .hidden-lists{
        display: none;
    }
    .about-dev{
        display: none;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px){
    .nav-link {
        font-size: 17px;
        padding: 4px 0;
    }
    .active{
        padding-top: 13px;
    }
    /* Banner */
    .banner_txt {
        padding: 145px 0 80px 0;
        text-align: left;
    }
    .banner_txt a {
        font-size: 15px;
        padding: 10px 21px;
        background-color: #FC5B49;
        border: #FC5B49;
    }
    .banner_txt a:hover{
        font-size: 15px;
        padding: 10px 21px;
        background-color: #3f8dbf;
        border: #3f8dbf;
    }
    /* Banner part end */
    .demo_img img{
        height: 195px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px){
    .nav-link {
        font-size: 17px;
        padding: 4px 0;
    }
    .active{
        padding-top: 15px;
    }
    .banner_txt {
        padding: 185px 0 70px 0;
    }
    .hidden-icon{
        display: none;
    }
    .demo_img img{
        height: 245px;
    }
    .hidden-lists{
        display: none;
    }
    .footer-content h4{
        font-size: 2.5rem;
        margin: 1rem 0 2.5rem 0;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px){
    .banner_txt {
        padding: 230px 0 80px 0;
    }
    .demo_img img{
        height: 230px;
    }
    .hidden-lists{
        display: none;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399px){
    .banner_txt {
        padding: 230px 0 120px 0;
    }
    .demo_img img{
        height: 240px;
    }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
/* @media (min-width: 1400px) {} */